In [ ]:
import random 

x = random.randint(1, 100)
counter = 0
start = True
print("Welcome to the number guessing program.")
while start and counter <= 5:
    counter += 1

    user_number = int(input("Guess the integer I am thinking between 1 and 100."))
    if (user_number - x) > 50:
        print(f"{user_number} is too high. Lower your guess.")
    elif  (x - user_number) > 50:
        print(f"{user_number} is too low. Increase your guess.")
    elif user_number > x:
        print(f"{user_number} is higher than my number. Lower your guess.")
    elif  x > user_number:
        print(f"{user_number} is lower than my number. Increase your guess.")
    elif user_number == x:
        print(f"Congratulations, the number is {x}. You guessed correctly after {counter} guesses.")
        start = False
    else:
        print("There is a problem, please try a valid guess.")

    
    if counter == 5 and start:
        print("You've run out of guesses! GAME OVER")

In [9]:
nums = [1, 2, 3, 4, 'Techpro', 5, 6, 7, 'Sena', True, 'Hello']
index = 0
while index < len(nums):
    if nums[index] == 'Techpro':
        print(nums[index])
    index += 1

Techpro

## Dict usage with loops

In [19]:
dict1 = {'Name:': 'Mehmet', 'Job:': 'Data Scientist', 'Age:': '19'}

In [12]:
dict1

{'Name': 'Mehmet', 'Job': 'Data Scientist', 'Age': '19'}

In [13]:
dict1.items()

dict_items([('Name', 'Mehmet'), ('Job', 'Data Scientist'), ('Age', '19')])

In [14]:
for i in dict1:
    print(i)

Name
Job
Age

In [15]:
for i in dict1.values():
    print(i)

Mehmet
Data Scientist
19

In [17]:
for i in dict1.items():
    print(i)

('Name', 'Mehmet')
('Job', 'Data Scientist')
('Age', '19')

In [20]:
for i, j in dict1.items():
    print(i, j)

Name: Mehmet
Job: Data Scientist
Age: 19

In [21]:
for i, j in dict1.items():
    print(f'key: {i}, value: {j}')

key: Name:, value: Mehmet
key: Job:, value: Data Scientist
key: Age:, value: 19

In [23]:
for i, j in dict1.items():
    print(f'key: {i:>10}, value: {j:>15}')

key:      Name:, value:          Mehmet
key:       Job:, value:  Data Scientist
key:       Age:, value:              19

In [24]:
for i, j in dict1.items():
    print(f'key: {i:<10}, value: {j:<15}')

key: Name:     , value: Mehmet
key: Job:      , value: Data Scientist
key: Age:      , value: 19

In [25]:
for i, j in dict1.items():
    print(f'key: {i:^10}, value: {j:^15}')

key:   Name:   , value:     Mehmet
key:    Job:   , value: Data Scientist
key:    Age:   , value:       19

In [30]:
'Fierro'.ljust(20)

'Fierro              '

In [29]:
'Fierro'.center(20)

'       Fierro       '

In [28]:
'Fierro'.rjust(20)

'              Fierro'

In [ ]:
# How to create an infinite loop with for loops
a = ['a']
for i in a:
    print(i)
    a.append(i)
# DONT RUN!

In [32]:
print(list(range(51)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [33]:
print(list(range(1, 51)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [ ]:
# Write a FOR loop to calculate the sum of ALL numbers between 1 and 50, both included.
total = 0
for i in range(51):
    total += i
print(total)

1275

In [ ]:
# Write a FOR loop to calculate the sum of ODD numbers between 1 and 50, both included.
total = 0
for i in range(51):
    if i % 2 == 1:
        total += i
print(total)

625

In [ ]:
# Write a FOR loop to calculate the sum of ODD numbers between 1 and 50, both included.
total = 0
for i in range(1, 51, 2):
    total += i
print(total)

625

In [ ]:
# Write a WHILE loop to calculate the sum of ALL numbers between 1 and 50, both included.
total = 0
i = 0
while i < 51:
    total += i
    i += 1
print(total)

625

In [ ]:
# Write a WHILE loop to calculate the sum of ODD numbers between 1 and 50, both included.
total = 0
i = 1
while i < 51:
    total += i
    i += 2
print(total)

In [41]:
# Write a WHILE loop to calculate the sum of EVEN numbers between 1 and 50, both included.
total = 0
i = 0
while i < 51:
    total += i
    i += 2
print(total)

650

In [42]:
(50 * 51) / 2

1275.0

In [43]:
sum([1, 2, 3, 4])

10

In [44]:
sum(range(1, 51))

1275

In [ ]:
sum(range(1, 51, 2))  # ODD

625

In [46]:
sum(range(0, 51, 2)) #EVEN

650

## Zip

In [47]:
a = ['Ohio', 'New York', 'New Jersey']
b = [1, 2, 3]
zip(a, b)

In [48]:
tuple(zip(a, b))

(('Ohio', 1), ('New York', 2), ('New Jersey', 3))

In [49]:
list(zip(a, b))

[('Ohio', 1), ('New York', 2), ('New Jersey', 3)]

In [50]:
set(zip(a, b))

{('New Jersey', 3), ('New York', 2), ('Ohio', 1)}

In [52]:
dict(zip(a, b))

{'Ohio': 1, 'New York': 2, 'New Jersey': 3}

In [62]:
name = ['Mehmet', 'Kateryna', 'Ebrunur', 'Rovshen']
age = (26, 27, 26, 27)
occupation = {'Data Scientist', 'ML Engineer', 'DL Engineer', 'CV Engineer'}
string = 'Hello'

In [63]:
print(list(zip(name, age, occupation, string)))
print(list(zip(name, age, occupation, string)))
print(list(zip(name, age, occupation, string)))

[('Mehmet', 26, 'Data Scientist', 'H'), ('Kateryna', 27, 'CV Engineer', 'e'), ('Ebrunur', 26, 'ML Engineer', 'l'), ('Rovshen', 27, 'DL Engineer', 'l')]
[('Mehmet', 26, 'Data Scientist', 'H'), ('Kateryna', 27, 'CV Engineer', 'e'), ('Ebrunur', 26, 'ML Engineer', 'l'), ('Rovshen', 27, 'DL Engineer', 'l')]
[('Mehmet', 26, 'Data Scientist', 'H'), ('Kateryna', 27, 'CV Engineer', 'e'), ('Ebrunur', 26, 'ML Engineer', 'l'), ('Rovshen', 27, 'DL Engineer', 'l')]

In [ ]:
print(dict(zip(name, age, occupation, string)))

In [64]:
student1 = list(zip(name, age, occupation, string))
student1

[('Mehmet', 26, 'Data Scientist', 'H'),
 ('Kateryna', 27, 'CV Engineer', 'e'),
 ('Ebrunur', 26, 'ML Engineer', 'l'),
 ('Rovshen', 27, 'DL Engineer', 'l')]

In [65]:
for a, b, c, d in student1:
    print(f'Name: {a}, Age: {b}, Occupation: {c}')

Name: Mehmet, Age: 26, Occupation: Data Scientist
Name: Kateryna, Age: 27, Occupation: CV Engineer
Name: Ebrunur, Age: 26, Occupation: ML Engineer
Name: Rovshen, Age: 27, Occupation: DL Engineer

## Enumerate

In [68]:
name = ['Mehmet', 'Kateryna', 'Ebrunur', 'Rovshen']
name

['Mehmet', 'Kateryna', 'Ebrunur', 'Rovshen']

In [69]:
enumerate(name)

In [70]:
list(enumerate(name))

[(0, 'Mehmet'), (1, 'Kateryna'), (2, 'Ebrunur'), (3, 'Rovshen')]

In [71]:
print(list(enumerate(name)))
print(tuple(enumerate(name)))
print(set(enumerate(name)))
print(dict(enumerate(name)))

[(0, 'Mehmet'), (1, 'Kateryna'), (2, 'Ebrunur'), (3, 'Rovshen')]
((0, 'Mehmet'), (1, 'Kateryna'), (2, 'Ebrunur'), (3, 'Rovshen'))
{(2, 'Ebrunur'), (0, 'Mehmet'), (3, 'Rovshen'), (1, 'Kateryna')}
{0: 'Mehmet', 1: 'Kateryna', 2: 'Ebrunur', 3: 'Rovshen'}

In [73]:
data = input('Please provide a numeric data. (Entering an integer is preffered): ')
total = 0
for i in str(data):
    total += int(i)
print(total)

18

In [75]:
data = input('Please provide a numeric data. (Entering an integer is preffered): ')
total = 0
if data.isnumeric():
    for i in str(data):
        total += int(i)
    print(f'The sum of the digits of {data} is: {total}')
else:
    print('Please enter an intiger input as requested.')

The sum of the digits of 567 is: 18

In [76]:
data = input('Please provide a numeric data. (Entering an integer is preffered): ')
total = 0
i = 0
if data.isnumeric():
    while i < len(data):
        total += int(data[i])
        i += 1
    print(f'The sum of the digits of {data} is: {total}')
else:
    print('Please enter an intiger input as requested.')

The sum of the digits of 567 is: 18

In [79]:
data = input('Please provide a numeric data. (Entering an integer is preffered): ')
num_list = []
for i in str(data):
    num_list.append(i)

In [80]:
num_list

['5', '6', '7']

In [81]:
data = input('Please provide a numeric data. (Entering an integer is preffered): ')
num_list = []
for i in str(data):
    num_list.append(int(i))

In [82]:
num_list

[5, 6, 7]

In [85]:
data = input('Please provide a numeric data. (Entering an integer is preffered): ')
num_list = []
for i in data:
    num_list.append(int(i))
    total = sum(num_list)
print(f'The sum of the digits of {data} is: {total}')

The sum of the digits of 567 is: 18

In [84]:
num_list

[5, 6, 7]

In [88]:
data = input('Please provide a numeric data. (Entering an integer is preffered): ')
num_list = []
i = 0
while i < len(data):
    num_list.append(int(data[i]))
    total = sum(num_list)
    i += 1
print(f'The sum of the digits of {data} is: {total}')

The sum of the digits of 567 is: 18

# HomeWork

 - Ask the user to provide a number between 1 and 10, and create a multiplication table 
 - for example, if the given input is 4 the program should print:
 - 4 x 0 = 0
 - 4 x 1 = 4
 - 4 x 2 = 8 .....

In [89]:
num = int(input("Please enter a number between 1 and 10: "))

for i in range(11):
    print(f"{num} x {i} = {num * i}")

7 x 0 = 0
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [ ]:
#HW: 

num = int(input("Please enter a number between 1 and 10: "))

for i in range(11):
    print(f"{num} x {i} = {num * i}")

In [3]:
num = int(input("Please enter a number between 1 and 10: "))
i = 0
while i < 11:
    if 1 <= num <= 10:
        print(f"{num} x {i} = {num * i}")
        i += 1
    else:
        num = int(input("Please enter a number between 1 and 10: "))

4 x 0 = 0
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40