## List Comprehension

- A simple way of performing for loops, to speed up operations, and performs the append operation in the background

- Simple syntax: [operation for i in iterable_data]

In [1]:
nums = [1, 3, 2, 8, 6, 7, 5]
nums_sq = []
for i in nums:
    nums_sq.append(i **2)
print(nums_sq)

[1, 9, 4, 64, 36, 49, 25]

In [3]:
num_squared = [i ** 2 for i in nums]
num_squared

[1, 9, 4, 64, 36, 49, 25]

In [4]:
names = ['mehmet', 'kateryna', 'rovshen', 'vusal']
[i.upper() for i in names]

['MEHMET', 'KATERYNA', 'ROVSHEN', 'VUSAL']

In [5]:
[print(i) for i in names]

mehmet
kateryna
rovshen
vusal

[None, None, None, None]

In [7]:
numbers = [12, 21, 34, 45, 56, 67, 78, 89, 90, 1]
odds = [i for i in numbers if i % 2 == 1]
evens = [i for i in numbers if i % 2 == 0]

In [8]:
evens

[12, 34, 56, 78, 90]

In [9]:
odds

[21, 45, 67, 89, 1]

In [ ]:
list1 = ['..tech.pro..', '..educa.tion..']
clean_strings = []
for i in list1:
    clean_strings.append(i.replace('.', ''))
clean_strings

['techpro', 'education']

In [11]:
[i.replace('.', '') for i in list1]

['techpro', 'education']

In [12]:
list1 = [' . . techpro . . ', ' . . education . . ']
clean_strings = []
for i in list1:
    clean_strings.append(i.strip(' .'))
clean_strings

['techpro', 'education']

In [13]:
[i.strip(' .') for i in list1]

['techpro', 'education']

In [14]:
isinstance('aa', str)

True

In [15]:
isinstance('aa', int)

False

In [16]:
isinstance('aa', list)

False

In [17]:
isinstance(['aa'], list)

True

In [20]:
list2 = [34, 67, 'tech', 'pro', 9.5, 12, 5.67, 'education']
int_list = []
for i in list2:
    if isinstance(i, int):
        int_list.append(i)
print(int_list)

[34, 67, 12]

In [19]:
list2 = [34, 67, 'tech', 'pro', 9.5, 12, 5.67, 'education']
[i for i in list2 if isinstance(i, int)]

[34, 67, 12]

In [21]:
list2 = [34, 67, 'tech', 'pro', 9.5, 12, 5.67, 'education']
[i for i in list2 if isinstance(i, str)]

['tech', 'pro', 'education']

In [22]:
list2 = [34, 67, 'tech', 'pro', 9.5, 12, 5.67, 'education']
[i for i in list2 if isinstance(i, float)]

[9.5, 5.67]

In [23]:
list3 = [3, 67, 34, 9, 6, 1, 5, 78, 8, 5, 3, 3, 7, 6, 34]
a = []
for i in list3:
    if i % 2:
        a.append(i**2)
    else:
        a.append(i)
print(a)

[9, 4489, 34, 81, 6, 1, 25, 78, 8, 25, 9, 9, 49, 6, 34]

In [24]:
[i**2 if i % 2 else i for i in list3]

[9, 4489, 34, 81, 6, 1, 25, 78, 8, 25, 9, 9, 49, 6, 34]

In [27]:
names = ['micah', 'jerry', 'utah', 'ben', 'greece', 'iowa']
resultant_list = []
for i in names:
    if len(i) >= 5:
        resultant_list.append(i.upper())
    else:
        resultant_list.append(i.capitalize())
print(resultant_list)

['MICAH', 'JERRY', 'Utah', 'Ben', 'GREECE', 'Iowa']

In [29]:
[i.upper() if len(i) >= 5 else i.capitalize() for i in names]

['MICAH', 'JERRY', 'Utah', 'Ben', 'GREECE', 'Iowa']

In [30]:
students = ['fierro', 'mehmet', 'ebrunur']
subjects = ['math', 'science']
for i in students:
    for j in subjects:
        print(f'hw {i}-{j} checked')

hw fierro-math checked
hw fierro-science checked
hw mehmet-math checked
hw mehmet-science checked
hw ebrunur-math checked
hw ebrunur-science checked

In [31]:
[f'hw {i}-{j} checked' for i in students for j in subjects]

['hw fierro-math checked',
 'hw fierro-science checked',
 'hw mehmet-math checked',
 'hw mehmet-science checked',
 'hw ebrunur-math checked',
 'hw ebrunur-science checked']

In [43]:
num = input('Please provide a number to check if it is an Armstrong number or not.')
digit = len(num)
total = 0
for i in num:
    total += int(i) ** digit
if total == int(num): 
    print(f'{num} is an Armstrong number.')
else:
    print(f'{num} is not an Armstrong number.')

407 is an Armstrong number.

In [47]:
num = input('Please provide a number to check if it is an Armstrong number or not.')
digit = len(num)
a = [int(i) ** digit for i in num]
print(a)
total = sum([int(i) ** digit for i in num])
if total == int(num): 
    print(f'{num} is an Armstrong number.')
else:
    print(f'{num} is not an Armstrong number.')

[64, 0, 343]
407 is an Armstrong number.

In [49]:
number_list = [48, 10, 11, 21, 36, 5, 6, 52, 28, 29,
         53, 54, 45, 19, 20, 47, 55, 39, 41, 7, 
         9, 17, 26, 27, 42, 22, 37, 51, 46, 18, 
         44, 30, 34, 13, 15, 35, 33, 16, 50, 24]

In [50]:
max_num = max(number_list)
max_num

55

In [ ]:
min_num = min(number_list)
min_num

5

In [52]:
missing_nums = []
for i in range(min_num, max_num):
    if i not in number_list:
        missing_nums.append(i)
missing_nums

[8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49]

In [55]:
[i for i in range(min_num, max_num) if i not in number_list]

[8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49]

In [56]:
missing_nums = []
for i in range(min_num, max_num):
    if i in number_list:
        continue
    missing_nums.append(i)
missing_nums

[8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49]

In [57]:
list(range(min_num, max_num))

[5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54]

In [59]:
print(set(range(min_num, max_num)))

{5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54}

In [60]:
print(set(number_list))

{5, 6, 7, 9, 10, 11, 13, 15, 16, 17, 18, 19, 20, 21, 22, 24, 26, 27, 28, 29, 30, 33, 34, 35, 36, 37, 39, 41, 42, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55}

In [63]:
set(range(min_num, max_num)) - set(number_list)

{8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49}

In [65]:
for i in range(1, 11):
    print(f'Multiplication table for: {i}')
    for j in range(11):
        print(f'{i} x {j} = {i * j}')

Multiplication table for: 1
1 x 0 = 0
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
Multiplication table for: 2
2 x 0 = 0
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
Multiplication table for: 3
3 x 0 = 0
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
Multiplication table for: 4
4 x 0 = 0
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
Multiplication table for: 5
5 x 0 = 0
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
Multiplication table for: 6
6 x 0 = 0
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
Multiplication table for: 7
7 x 0 = 0
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
Multiplication table for: 8
8 x 0 = 0
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
Multiplication table for: 9
9 x 0 = 0
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
Multiplication table for: 10
10 x 0 = 0
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100