In [4]:
for i in range(8):
    print(i)

0
1
2
3
4
5
6
7

In [3]:
i = 0
while i < 8:
    print(i)
    i+= 1

0
1
2
3
4
5
6
7

In [5]:
total = 0
for i in range(8):
    total += i
print(total)

28

In [6]:
sum(range(8))

28

In [13]:
divisables = []
x = int(input('please enter a number: '))
i = 1
while i <= (x/2):
    if x % i == 0:
        divisables.append(i)
    i += 1 

divisables.append(x)
print(divisables)

[1, 2, 4, 5, 8, 10, 20, 25, 40, 50, 100, 125, 200, 250, 500, 625, 1000, 1250, 2500, 5000]

In [ ]:
exit = True
while exit:
    fruit = input("please enter a fruit name or type 'e' to quit")
    if fruit == 'e':
        exit = False
    else:
        print(fruit)

uidrfhuifdjn
difjrredrf
irjf

In [21]:
exit = True
while exit:
    fruit = input("please enter a fruit name or type 'e' to quit")
    if fruit == 'e':
        exit = False
    else:
        print(fruit)
        num_of_vowels = 0
        numv = len([j for j in fruit if j in ['a', 'e', 'o', 'u', 'i' ]])
        print(numv)
        for j in fruit:
            if j in ['a', 'e', 'o', 'u', 'i' ]:
                num_of_vowels += 1
        print(f'there are {num_of_vowels} vowels in {fruit}.')

apple
2
there are 2 vowels in apple.

In [25]:
country_capitals = {
'Turkey': 'Ankara',
'France': 'Paris',
'Germany': 'Berlin',
'Italy': 'Rome',
'Spain': 'Madrid',
'Portugal': 'Lisbon',
'Netherlands': 'Amsterdam',
'Belgium': 'Brussels',
'Switzerland': 'Bern',
'Austria': 'Vienna',
'Greece': 'Athens',
'England': 'London',
'Sweden': 'Stockholm',
'Norway': 'Oslo',
'Denmark': 'Copenhagen',
'Finland': 'Helsinki',
'Russia': 'Moscow',
'China': 'Beijing',
'Japan': 'Tokyo',
'India': 'New Delhi'
}

import random
while True:
    country, capital = random.choice(list(country_capitals.items()))
    
    capital_guess = input(f"Please enter the capital of {country}:\n To quit press 'q'.")

    if capital_guess == 'q':
        print('Exiting')
        break
    elif capital_guess.title == capital:
        score += 10
        print(f"Congratulations, {country}'s capotal is {capital}")
    elif capital_guess.title != capital:
        print(f"{country}'s capital is {capital}. Please try again for the next one.")
    else:
        print('smth went wrong.')
    
    print(f'Your score is: {score}')

Finland's capital is Helsinki. Please try again for the next one.
Your score is: 10
Exiting

In [27]:
words = ['adana', 'kebap', 'bahce']
a_capital = [word.replace('a', 'A') for word in words]
print(a_capital)

['AdAnA', 'kebAp', 'bAhce']

In [29]:
words = ['adana', 'kebap', 'bahce']
new_words = []
for word in words:
    new_words.append(word.replace('a', 'A'))
new_words

['AdAnA', 'kebAp', 'bAhce']

In [32]:
num1 = 220
num2 = 284
num1_divisors = []
num2_divisors = []

for i in range(1, num1):
    if num1 % i == 0:
        num1_divisors.append(i)

for i in range(1, num2):
    if num2 % i == 0:
        num2_divisors.append(i)

if sum(num1_divisors) == num2 and sum(num2_divisors):
    print(f"{num1} and {num2} are amicable numbers, num1 divisors sum: {sum(num1_divisors)}, num2 divisors sum: {sum(num2_divisors)}")
else:
    print(f"{num1} and {num2} aren't amicable numbers.")

220 and 284 are amicable numbers, num1 divisors sum: 284, num2 divisors sum: 220

In [33]:
students_grades = {
    "Ali": [70, 85, 90],
    "Ayse": [45, 60, 55],
    "Mehmet": [80, 95, 92],
    "Zeynep": [50, 40, 65]
}

successful = []
unsuccessful = []

for student, grades in students_grades.items():
    avg = sum(grades) / len(grades)
    print(f"{student}'s average: {avg:.2f}")

    if avg >= 60:
        successful.append(student)
    else:
        unsuccessful.append(student)

print(" Successful students:", successful)
print("Unsuccessful students:", unsuccessful)

Ali's average: 81.67
Ayse's average: 53.33
Mehmet's average: 89.00
Zeynep's average: 51.67
 Successful students: ['Ali', 'Mehmet']
Unsuccessful students: ['Ayse', 'Zeynep']

In [39]:
students_grades = {
    "Ali": [70, 85, 90],
    "Ayse": [45, 60, 55],
    "Mehmet": [80, 95, 92],
    "Zeynep": [50, 40, 65]
}

{name: 'Success' if round(sum(notes) / 3) >= 60 else 'Failed' for name, notes in students_grades.items()}

{'Ali': 'Success', 'Ayse': 'Failed', 'Mehmet': 'Success', 'Zeynep': 'Failed'}

In [44]:
students_grades = {
    "Ali": [70, 85, 90],
    "Ayse": [45, 60, 55],
    "Mehmet": [80, 95, 92],
    "Zeynep": [50, 40, 65]
}

for name, notes in students_grades.items():
    if round(sum(notes)) / 3 >= 60:
        students_grades.update({name: 'Passed'})
    else:
        students_grades.update({name: 'Failed'})

students_grades

{'Ali': 'Passed', 'Ayse': 'Failed', 'Mehmet': 'Passed', 'Zeynep': 'Failed'}

In [45]:
on_the_road = {
    '34ABC123', '06DEF456', '35GHI789', '07JKL101', '41MNO202',
    '34PQR303', '45STU404', '32VWX505', '34XYZ606', '38LMN707'
}

checkpoint = {
    '34ABC123', '06DEF456', '41MNO202', '34PQR303', '45STU404',
    '35GHI789', '32VWX505'
}

not_passed = on_the_road - checkpoint

print("Vehicles that havent passed the checkpoint:")
for vehicle in not_passed:
    print(vehicle)

Vehicles that havent passed the checkpoint:
07JKL101
38LMN707
34XYZ606

In [3]:
for row in range(5):
    print("**"*row)

**
****
******
********

In [4]:
n = 5
for i in range(n):
    print(i, end = " ")
    n = 2

0 1 2 3 4

In [5]:
while True:
    break
    print("looping")
print("finished")

finished

In [6]:
for i in range(5):
    break
print(i)

0

In [7]:
n = 3
while n:
    print(n)
    n -= 1
else:
    print('done')

3
2
1
done

In [9]:
age = int(input("Please enter your age: "))
while age < 10 and age > 85:
    print("The age entered is not valid in this application!")
    age = int(input("Please enter your age again: "))
print("Thank you for entering your age. Your records are now up to date.")

Thank you for entering your age. Your records are now up to date.