In [5]:
def armstrong(num):
    '''This function checks whether a given number is armstrong or not'''
    digit = len(num)
    a = [int(i) ** digit for i in num]
    print(a)
    total = sum([int(i) ** digit for i in num])
    if total == int(num): 
        print(f'{num} is an Armstrong number.')
    else:
        print(f'{num} is not an Armstrong number.')

In [6]:
num = input('Please provide a number to check if it is an Armstrong number or not.')
armstrong(num)

[64, 0, 343]
407 is an Armstrong number.

In [11]:
def armstrong_num(num1):
    num1 = str(num1)
    total1 = 0
    digits = len(num1)
    for i in num1:
        total1 += int(i) ** digits
    if total1 == int(num1): 
        print(f'{num1} is an Armstrong number.')
    else:
        print(f'{num1} is not an Armstrong number.')

In [12]:
armstrong_num(407)

407 is an Armstrong number.

In [13]:
def armstrong_finder(num1):
    num1 = str(num1)
    total1 = 0
    digits = len(num1)
    for i in num1:
        total1 += int(i) ** digits
    if total1 == int(num1): 
        return True

In [15]:
for i in range(1, 10001):
    if armstrong_finder(i):
        print(f"{i} is an armstrong number.")

1 is an armstrong number.
2 is an armstrong number.
3 is an armstrong number.
4 is an armstrong number.
5 is an armstrong number.
6 is an armstrong number.
7 is an armstrong number.
8 is an armstrong number.
9 is an armstrong number.
153 is an armstrong number.
370 is an armstrong number.
371 is an armstrong number.
407 is an armstrong number.
1634 is an armstrong number.
8208 is an armstrong number.
9474 is an armstrong number.

In [19]:
nums = [i for i in range(1,10001) if armstrong_finder(i)]
print(nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 153, 370, 371, 407, 1634, 8208, 9474]

In [20]:
def my_name(first_name, last_name):
    return f"My name is {first_name} {last_name}"

In [ ]:
my_name('Mehmet', 'Koldemir')
# Providing arguments based on position.

'My name is Mehmet Koldemir'

In [22]:
my_name(last_name = 'Koldemir', first_name ='Mehmet')

'My name is Mehmet Koldemir'

In [ ]:
def my_name2(first_name, last_name = 'Koldemir'): #Always provide the default argument at the end.
    return f"My name is {first_name} {last_name}"

In [29]:
my_name2('Bilal')

'My name is Bilal Koldemir'

In [27]:
my_name2(first_name = 'Bilal')

'My name is Bilal Koldemir'

In [36]:
def my_name3(first_name, middle_name = 'Cevdet', last_name = 'Koldemir'):
      return f"My name is {first_name} {middle_name} {last_name}"

In [37]:
my_name3('Mehmet')

'My name is Mehmet Cevdet Koldemir'

In [38]:
#Following function takes 5 inputs and provides 
#the odd numbers of these inputs in a list
def odd_nums(a, b, c, d, e):
    odd_list = []
    for i in a, b, c, d, e:
        if i % 2 == 1:
            odd_list.append(i)
    return odd_list

In [41]:
odd_nums(2, 5, 3, 6, 7)

[5, 3, 7]

In [42]:
def odd_nums2(num_list):
    odd_list = []
    for i in num_list:
        if i % 2 == 1:
            odd_list.append(i)
    return odd_list

In [44]:
odd_nums2([1, 2, 3, 4, 5, 6, 7])

[1, 3, 5, 7]

## Arbitrary number of arguments(*args, **k.w.args)

In [45]:
def odd_nums3(*numbers):
    odd_list = []
    for i in numbers:
        if i % 2 == 1:
            odd_list.append(i)
    return odd_list

In [ ]:
odd_nums3(1, 2, 3, 4, 5, 6, 7, 8, 9)

[1, 3, 5, 7, 9]

In [ ]:
#Define a function that takes arbitrary inputs,
#squares the even numbers 
#and doubles the odd numbers.
def sqr_double(*numbers):
    odd_list = []
    even_list = []
    for i in numbers:
        if i % 2 == 1:
            odd_list.append(i*2)
        else:
            even_list.append(i**2)
    return odd_list, even_list

In [49]:
sqr_double(1, 2, 3, 4, 5, 6, 7, 8, 9)

([2, 6, 10, 14, 18], [4, 16, 36, 64])

In [50]:
def sqr_double2(*numbers):
    odd_list = [(i*2) for i in numbers if i % 2 == 1]
    even_list = [(i**2) for i in numbers if i % 2 == 0]
    return odd_list, even_list

In [53]:
sqr_double2(1, 2, 3, 4, 5, 6, 7, 8, 9)

([2, 6, 10, 14, 18], [4, 16, 36, 64])

In [55]:
def sqr_double3(*numbers):
    list = [(i*2) if i % 2 == 1 else i**2 for i in numbers]
    return list

In [56]:
sqr_double3(1, 2, 3, 4, 5, 6, 7, 8, 9)

[2, 4, 6, 16, 10, 36, 14, 64, 18]