In [5]:
def name(f_name, l_name):
    return f"My first name is {f_name} and my last name is {l_name}"

In [6]:
name('Mehmet', 'Koldemir')

'My first name is Mehmet and my last name is Koldemir'

In [7]:
name(l_name='Koldemir', f_name='Mehmet')

'My first name is Mehmet and my last name is Koldemir'

In [8]:
def odd_even(*numbers):
    even = []
    odd = []
    for i in numbers:
        if i % 2 == 0:
            even.append(i**2)
        else:
            odd.append(i*2)
    return f'The double of odd numbers: {odd}, and the square of even numbers: {even}'

In [9]:
odd_even(1, 2, 3, 4, 5, 6, 7, 8, 12, 23, 34, 45, 56, 67, 67, 78)

'The double of odd numbers: [2, 6, 10, 14, 46, 90, 134, 134], and the square of even numbers: [4, 16, 36, 64, 144, 1156, 3136, 6084]'

In [10]:
odd_even([1, 2, 3, 4, 5, 6, 7, 8, 12, 23, 34, 45, 56, 67, 67, 78])
# doesnt expect a group or a collection

TypeError: unsupported operand type(s) for %: 'list' and 'int'

In [11]:
odd_even(*[1, 2, 3, 4, 5, 6, 7, 8, 12, 23, 34, 45, 56, 67, 67, 78])

'The double of odd numbers: [2, 6, 10, 14, 46, 90, 134, 134], and the square of even numbers: [4, 16, 36, 64, 144, 1156, 3136, 6084]'

In [12]:
print("techpro")

techpro

In [13]:
print(*"techpro")

t e c h p r o

In [14]:
def reverse_iterable(iterable_data):
    return iterable_data[:: -1]

In [15]:
reverse_iterable('techpro')

'orphcet'

In [16]:
reverse_iterable([1, 2, 3, 4])

[4, 3, 2, 1]

In [ ]:
def reverse_iterable2(*iterable_data):
    return iterable_data[:: -1]

In [21]:
reverse_iterable2('hello', 'friends', 'bye')

('bye', 'friends', 'hello')

In [22]:
reverse_iterable2(*'hello')

('o', 'l', 'l', 'e', 'h')

In [23]:
reverse_iterable2(*'hello', 'friends', 'bye')

('bye', 'friends', 'o', 'l', 'l', 'e', 'h')

In [26]:
def reverse_iterable3(*iterable_data):
    reverse_list = []
    for i in iterable_data:
        reverse_list.append(i[::-1])
    return reverse_list

In [27]:
reverse_iterable3('ebrunur', 'demir', 'nikola', 'john')

['runurbe', 'rimed', 'alokin', 'nhoj']

In [28]:
reverse_iterable3(['ebrunur', 'demir', 'nikola', 'john'])

[['john', 'nikola', 'demir', 'ebrunur']]

In [29]:
reverse_iterable3(*['ebrunur', 'demir', 'nikola', 'john'])

['runurbe', 'rimed', 'alokin', 'nhoj']

## **K.w.args

In [30]:
dict1 = {'name1': 'Mehmet', 'name2': 'Rovshen', 'name3': 'Vusal'}
dict1

{'name1': 'Mehmet', 'name2': 'Rovshen', 'name3': 'Vusal'}

In [31]:
for i in dict1:
    print(i)

name1
name2
name3

In [32]:
dict1.items()

dict_items([('name1', 'Mehmet'), ('name2', 'Rovshen'), ('name3', 'Vusal')])

In [ ]:
for i, j in dict1.items():
    print(i, j)

name1 Mehmet
name2 Rovshen
name3 Vusal

In [ ]:
dict(name1 = 'nikola', name2 = 'techpro', name3 = 'data science')

{'name1': 'nikola', 'name2': 'techpro', 'name3': 'data science'}

In [37]:
def kwfunction(**kwargs):
    for i in kwargs:
        print(i)

In [38]:
kwfunction(name1 = 'nikola', name2 = 'techpro', name3 = 'data science')

name1
name2
name3

In [56]:
def kwfunction2(**kwargs):
    for i, j in kwargs.items():
        print(i, j)

In [57]:
kwfunction2(name1 = 'nikola', name2 = 'techpro', name3 = 'data science')

name1 nikola
name2 techpro
name3 data science

In [47]:
# Define function with **kwargs that takes the input in keyword argument format 
# add the keys or keywords of these inputs to keyword list 
# arguments or values of these inputs to values or arguments list.
def keyword_values(**dictionary):
    key_list = []
    val_list = []
    for i, j in dictionary.items():
        key_list.append(i)
        val_list.append(j)
    return f"Keys or keywords list: {key_list}, and val or values list: {val_list}"

In [50]:
keyword_values(name = 'Mehmet', age = 19, occupation = 'Data Scientist')

"Keys or keywords list: ['name', 'age', 'occupation'], and val or values list: ['Mehmet', 19, 'Data Scientist']"

In [53]:
keyword_values()

'Keys or keywords list: [], and val or values list: []'

In [ ]:
# Define a function with **kwargs and print only the value or the argument part.
def values(**dictionary):
    for i in dictionary.values():
        print(i)

In [ ]:
values(name = 'mehmet', num = 28)

mehmet
28

In [63]:
def dict_itemss(**dictionary):
    for i in dictionary.items():
        print(i)

In [64]:
dict_itemss(name = 'mehmet', num = 28)

('name', 'mehmet')
('num', 28)

In [65]:
def dict_itemss2(**dictionary):
    for i, j in dictionary.items():
        print(i, j)

In [66]:
dict_itemss2(name = 'mehmet', num = 28)

name mehmet
num 28

In [72]:
def reverse_str_kw(**strings):
    reverse_values = []
    for key, val in strings.items():
        reverse_values.append(val[::-1])
    return reverse_values

In [74]:
reverse_str_kw(name1 = 'mehmet', name2 = 'nikola' )

['temhem', 'alokin']

In [78]:
def reverse_str_kw2(**strings):
    reverse_keys = []
    for key, val in strings.items():
        reverse_keys.append(key[::-1])
    return reverse_keys

In [79]:
reverse_str_kw2(name1 = 'mehmet', name2 = 'nikola' )

['1eman', '2eman']

In [80]:
def reverse_str_kw3(**strings):
    reverse_keys = []
    reverse_values = []
    for key, val in strings.items():
        reverse_keys.append(key[::-1])
        reverse_values.append(val[::-1])
    return reverse_keys, reverse_values

In [81]:
reverse_str_kw3(name1 = 'mehmet', name2 = 'nikola' )

(['1eman', '2eman'], ['temhem', 'alokin'])

In [90]:
def coll_len(**dictionary):
    for i in dictionary.values():
        print(f"the length of {i} is {len(i)}")

In [91]:
coll_len(one = [1, 2, 3, 4, 5], two = ('hi', 'hello'), three = {1, True, 0.0, 'bbye'})

the length of [1, 2, 3, 4, 5] is 5
the length of ('hi', 'hello') is 2
the length of {0.0, 1, 'bbye'} is 3

In [93]:
def coll_len2(**dictionary):
    result = [f"the length of {i} is {len(i)}" for i in dictionary.values()]
    return result

In [94]:
coll_len2(one = [1, 2, 3, 4, 5], two = ('hi', 'hello'), three = {1, True, 0.0, 'bbye'})

['the length of [1, 2, 3, 4, 5] is 5',
 "the length of ('hi', 'hello') is 2",
 "the length of {0.0, 1, 'bbye'} is 3"]